<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <div>
        <h5>Estas en TIENDA CONSUMIDOR FINAL</h5>
        <p>Cambiar a TIENDA MAYORISTA(convertir a botón)</p>
        <p>Barra buscadora (conver a input)<i class="fa-solid fa-magnifying-glass"></i></p>
        <nav>
          <p>Iniciar sesión</p>
          <p>Crear una cuenta</p>
        </nav>
      </div>
      <div>
        <img src="/img/logo.png" alt="logo"/>
        <nav>
          <ul>
            <li>
              <a href="#">Productos</a>
              <ul>
                <li>
                  Categoria 1
                  <ul>
                    <li>Subcategoria 1</li>
                    <li>Subcategoria 2</li>
                    <li>Subcategoria 3</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Categoria 2
                  <ul>
                    <li>Subcategoria 1</li>
                    <li>Subcategoria 2</li>
                    <li>Subcategoria 3</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Categoria 3
                  <ul>
                    <li>Subcategoria 1</li>
                    <li>Subcategoria 2</li>
                    <li>Subcategoria 3</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              Tutoriales
              <ul>
                <li>Tutorial 1</li>
                <li>Tutorial 2</li>
                <li>Tutorial 3</li>
              </ul>
            </li>
            <li>Nosotros</li>
            <li>Contacto</li>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
